<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>Insert Page</h1>
    <form action="/doInsert" method="post">
    <table>
        <tr>
            <td>Name :</td>
            <td><input class="input1" type="text" name="txtName"></td>
        </tr>
        <tr>
            <td>Price :</td>
            <td><input class="input1" type="text" name="txtPrice"></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="input1" type="submit" value="Insert"></td>
        </tr>
    </table>
    
     <p>Go to HomePage: <a href="/">Link</a>  </p> 
     <p>View all product: <a href="/view">Link</a>  </p>
    </form>
</body>
</html>